@charset "UTF-8";

// ========================================
// Accessibility
// ========================================
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: px-to-rem(1);
  overflow: hidden;
  position: absolute;
  width: px-to-rem(1);

  &:focus {
    @include font-size(0.875);
    background-color: $color-background-screen;
    box-shadow: 0 0 2px 2px $color-screen-reader-box-shadow;
    clip: auto;
    color: $color-text-screen;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: px-to-rem(15) px-to-rem(23) px-to-rem(14);
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
}
