@charset "UTF-8";
// ========================================
// Basic
// ========================================

%float-width {
	width: 100%;
}

.row::after {
	clear: both;
	content: "";
	display: table;
	margin: 0;
}

.row > [class^="col"] {
	float: left;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		@extend %float-width;
	}
}
